VehicleTrackingAPI/VehicleTrackingAPI/bin/
VehicleTrackingAPI/VehicleTrackingAPI/obj/
VehicleTrackingAPI/.vs/
VehicleTrackingClient/VehicleTrackingClient/obj/
VehicleTrackingClient/VehicleTrackingClient/bin/
VehicleTrackingClient/.vs/
VehicleTrackingAPI/VehicleTrackingAPI.Contracts/obj/
VehicleTrackingAPI/VehicleTrackingAPI.Contracts/bin/
VehicleTrackingAPI/VehicleTracker.Business/obj/
VehicleTrackingAPI/VehicleTracker.Business/bin/Debug/netcoreapp2.2/VehicleTracker.Business.deps.json
