VehicleTrackingAPI/VehicleTrackingAPI/bin/
VehicleTrackingAPI/VehicleTrackingAPI/obj/
VehicleTrackingAPI/.vs/
VehicleTrackingClient/VehicleTrackingClient/obj/
VehicleTrackingClient/VehicleTrackingClient/bin/
VehicleTrackingClient/.vs/
